<div id="login-paths-partial">
  <% if current_user %>
    <%= image_tag(current_user.avatar.url(:thumb), class: "avatar-img") %> | <%= current_user.username %> | <%= link_to "Edit Account", edit_user_registration_path %> | <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>