<!DOCTYPE html>
<html>
  <head>
    <title>PaperCompany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice || alert %>
      <div id="notices" class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
