<!DOCTYPE html>
<html>
  <head>
    <title>PaperCompany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <%= render "layouts/login_paths" %>

    <% if notice %>
      <div class="container notices">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="container notices">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
